.navbar {
    justify-content: space-between;
}

.navbar>* {
    margin: .2em;
}

.navbar>a {
    padding: .5em;
}

.navbar>a:hover {
    background-color: lightgray;
}

.navbar>div {
    flex-grow: 2;
}

.welcome-to-pizza-world {
    padding: 0;
    background-image: url("../img/pizza.png");
    background-size: 100%;
    min-height: 8em;
    display: flex;
    align-items: center;
}

.jumbotron>h1 {
    opacity: 75%;
    background-color: beige;
    width: 100%;
    font-size: xx-large;
    text-align: center;
}

@media screen and (max-width:576px) {
    .welcome-to-pizza-world {
        display: none;
    }
}