* {
    box-sizing: border-box;
}

#navBar {
    background-color: beige;
    color: deeppink;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

section {
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em 0;
}
li {
    list-style-type: none;
    font-family: 'Work Sans', sans-serif;
    display:inline-block;
}

a {
    color: black;
    text-decoration: none;
    display:inline-block;
    padding: 1em;
}

a:hover {
    background-color: #b4d455;
    color: blue;
}