* {
    box-sizing: border-box;
}

div {
    border: .15em solid black;
}

article {
    margin: 1em auto;
    background-color: beige;
    width: 33em;
}

section {
    margin: 1em;
    display: flex;
    flex-direction: row;
    width: calc(100% - 2em);
}
section:nth-of-type(1) {
    background-color: lightgreen;
    height: 6em;
    justify-content: space-between;
    align-items: center;
}

section:last-child {
    background-color: sandybrown;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0;
}

.greenB {
    background-color: green;
    height: 2em;
    width: 4em;
}

.greenB:last-child {
    align-self: flex-start;
}

.pinkB {
    background-color: deeppink;
    height: 1.3em;
    width: 5em;
}

.pinkB:nth-child(1) {
    flex-grow: 2;
}

.pinkB:nth-child(2) {
    flex-grow: 1;
}

.bigBlueB {
    background-color: blue;
    height: 20em;
    width: 100%;
}

h1, h3 {
    font-family: "Comic Sans MS", sans-serif;
    flex-grow: 1;
}

.orangeC {
    background-color: orange;
    height: 3em;
    width: 3em;
    border-radius: 100%;
    border: 0;
    margin: .5em;
}

section:nth-of-type(6) {
    justify-content: space-between;
}

section:nth-of-type(7) {
    justify-content: space-evenly;
}

.maroonB {
    background-color: maroon;
    height: 8em;
    width: 9em;
}

.yellowB {
    background-color: yellow;
    height: 2.5em;
    width: 2.5em;
}

.grayB {
    background-color: gray;
    width: 4em;
    height: 3em;
}

.grayB:nth-child(odd) {
    height: 4em;
}