html {
    background-color: azure;
    background-image: url("/img/microsoft_azure.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial;
}

.header1 {
    color: white;
    text-decoration: italic;
    text-align: center;
}

.header2 {
    color: lightblue;
    font-family: Georgia, serif;
    background-color: cadetblue;
    text-align: center;
}

h4 {
    color: pink;
    text-decoration: bold;
    text-align: center;
}

ul {
    list-style:circle;
    font-size: 2em;
}

ol {
    font-size: 1.5em;
}

div.transparentBox {
    background-color: white;
    opacity: .75;
}

table.programs {
    font-family: Georgia, serif;
    font-size: 2em;
    border-spacing: 2em;
    color: cornsilk;
    background-color: black;
}

table tr th {
    color: mediumpurple;
    text-align: left;
}

em {
    color: orangered;
}

a:link {
    color: white;
}

a:visited {
    color: lightgreen;
}

a:hover {
    color: firebrick;
}

section {
    color: deeppink;
}

#photocube, .programs {
    background-color:yellow;
    margin-right: auto;
    margin-left: auto;
}